---
---

<div class="hidden sm:block bg-zinc-900 rounded-xl p-4 w-full">
  <img
    src="https://ghchart.rshah.org/kieran-calavan"
    alt="Kieran's GitHub contribution chart"
    class="w-full"
    loading="lazy"
  />
</div>
